body {
  margin: 0;
  background-color: rgb(225, 217, 217);
  font-family: 'Roboto', sans-serif;
}
nav {
  grid-area: a;
  display: flex;
  background-color: rgb(32, 32, 155);
  justify-content: center;
  align-items: center;
  height: 40px;
  padding-right: 30px;
}
nav h1 {
  margin: 0;
  font-size: larger;
  color: white;
}
aside {
  grid-area: b;
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  justify-content: flex-start;
  align-items: center;
}
aside h3{
    margin: 0;
    padding-top: 10px;
}
aside p{
    margin: 0;
    padding-top: 10px;
    color: black;
}
article{
    display: flex;
}
article a{
    text-decoration: none;
}
.cantidad{
    padding-left: 5px;
    color: rgb(147, 145, 145);
}
.comic{
    padding-left: 1px;
}
.manga{
    padding-left: 4px;
}
.album{
    padding-right: 14px;
}
.cartas{
    padding-right: 15px;
}
main {
  grid-area: c;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding-left: 50px;
}
main a{
    text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 18em;
  border: solid 1px;
  background-color: white;
}
.card-img-top img {
  width: 240px;
  height: 172px;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  background-color: white;
}
.card-body h4 {
  margin: 0;
  width: 240px;
  text-align: center;
  color: rgb(32, 32, 155);;
}
.card-body p {
  margin: 0;
  padding-top: 5px;
}
.card-footer {
  display: flex;
  background-color: rgb(32, 32, 155);
  justify-content: center;
  align-items: center;
  height: 25px;
}
.card-footer h5 {
  margin: 0;
  color: white;
}
footer {
  grid-area: d;
  display: flex;
  background-color: rgb(32, 32, 155);
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}
footer a{
    text-decoration: none;
}
footer h3 {
  margin: 0;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "a a"
    "b c"
    "d d";
  grid-template-rows: 0.01fr 1fr 0.01fr;
  grid-template-columns: 0.2fr 1fr;
  gap: 1px;
  height: 100vh;
}
